In [1]:
import pandas as pd
import numpy as np

C:\Users\raghav.aggarwal\AppData\Local\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
df=pd.read_csv("spam.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df["Category"].value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [7]:
def get_spam_number(x):
    if x=="spam":
        return 1
    return 0

In [8]:
df['spam']=df["Category"].apply(get_spam_number)
# lambda x: 1 if x=='spam' else 0

In [9]:
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df["Message"],df["spam"],test_size=0.2)

In [12]:
x_train.shape

(4457,)

In [13]:
x_test.shape

(1115,)

In [14]:
type(x_test)

pandas.core.series.Series

In [15]:
type(y_train)

pandas.core.series.Series

In [16]:
from sklearn.feature_extraction.text import CountVectorizer

In [17]:
v=CountVectorizer()

In [21]:
x_train_cv=v.fit_transform(x_train.values)#because the want the input in form of numpy and not in formn of pandas 
x_train_cv

<4457x7694 sparse matrix of type '<class 'numpy.int64'>'
	with 59451 stored elements in Compressed Sparse Row format>

In [22]:
x_train_cv.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [24]:
v.get_feature_names_out()

array(['00', '000', '000pes', ..., 'èn', 'ú1', '〨ud'], dtype=object)